<?xml version="1.0" encoding="utf-8"?>
<!--Detailed report on module Module-->
<CCCC_Project>
<module_summary>
<lines_of_code value="133" level="0" />
<lines_of_code_per_member_function value="******" level="0" />
<McCabes_cyclomatic_complexity value="42" level="0" />
<McCabes_cyclomatic_complexity_per_member_function value="******" level="2" />
<lines_of_code value="20" level="0" />
<lines_of_code_per_member_function value="********" level="2" />
<lines_of_code_per_line_of_comment value="6.650" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="2.100" level="0" />
<weighted_methods_per_class_unity value="14" level="0" />
<weighted_methods_per_class_visibility value="4" level="0" />
<depth_of_inheritance_tree value="1" level="0" />
<number_of_children value="1" level="0" />
<coupling_between_objects value="7" level="0" />
<IF4 value="36" level="0" />
<IF4_per_member_function value="********" level="2" />
<IF4_visible value="16" level="0" />
<IF4_visible_per_member_function value="********" level="2" />
<IF4_concrete value="16" level="0" />
<IF4_concrete_per_member_function value="********" level="2" />
</module_summary>
<module_detail>
<description>definition</description>
<source_reference file="../../include/base/module.hpp" line="7" />
<lines_of_code value="13" level="0" />
<McCabes_cyclomatic_complexity value="0" level="0" />
<lines_of_comment value="0" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="------" level="0" />
</module_detail>
<procedural_detail>
<member_function>
<name>Module()</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="10" />
</extent>
<extent>
<description>definition</description>
<source_reference file="../../src/base/module.cpp" line="21" />
</extent>
<lines_of_code value="2" level="0" />
<McCabes_cyclomatic_complexity value="0" level="0" />
<lines_of_comment value="0" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="------" level="0" />
</member_function>
<member_function>
<name>dir(vector *,String,String,bool,bool,bool,bool,bool,bool)</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="36" />
</extent>
<extent>
<description>definition</description>
<source_reference file="../../src/base/module.cpp" line="67" />
</extent>
<lines_of_code value="21" level="0" />
<McCabes_cyclomatic_complexity value="10" level="0" />
<lines_of_comment value="2" level="0" />
<lines_of_code_per_line_of_comment value="10.500" level="1" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="5.000" level="0" />
</member_function>
<member_function>
<name>dumpData(vector *)</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="43" />
</extent>
<extent>
<description>definition</description>
<source_reference file="../../src/base/module.cpp" line="140" />
</extent>
<lines_of_code value="10" level="0" />
<McCabes_cyclomatic_complexity value="2" level="0" />
<lines_of_comment value="2" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="------" level="0" />
</member_function>
<member_function>
<name>getBuiltinCommand(uint8_t)</name>
<extent>
<description>definition</description>
<source_reference file="../../include/base/module.hpp" line="20" />
</extent>
<lines_of_code value="6" level="0" />
<McCabes_cyclomatic_complexity value="3" level="0" />
<lines_of_comment value="0" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="------" level="0" />
</member_function>
<member_function>
<name>getBuiltinCommandCount()</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="18" />
</extent>
<extent>
<description>definition</description>
<source_reference file="../../src/base/module.cpp" line="17" />
</extent>
<lines_of_code value="4" level="0" />
<McCabes_cyclomatic_complexity value="1" level="0" />
<lines_of_comment value="0" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="------" level="0" />
</member_function>
<member_function>
<name>getModuleCommandCount()</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="41" />
</extent>
<extent>
<description>definition</description>
<source_reference file="../../src/base/module.cpp" line="127" />
</extent>
<lines_of_code value="5" level="0" />
<McCabes_cyclomatic_complexity value="1" level="0" />
<lines_of_comment value="1" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="------" level="0" />
</member_function>
<member_function>
<name>getModuleID()</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="12" />
</extent>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="13" />
</extent>
<lines_of_code value="2" level="0" />
<McCabes_cyclomatic_complexity value="0" level="0" />
<lines_of_comment value="0" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="------" level="0" />
</member_function>
<member_function>
<name>hasDataChange()</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="50" />
</extent>
<extent>
<description>definition</description>
<source_reference file="../../src/base/module.cpp" line="132" />
</extent>
<lines_of_code value="8" level="0" />
<McCabes_cyclomatic_complexity value="3" level="0" />
<lines_of_comment value="0" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="------" level="0" />
</member_function>
<member_function>
<name>help(vector *,String,String)</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="44" />
</extent>
<extent>
<description>definition</description>
<source_reference file="../../src/base/module.cpp" line="91" />
</extent>
<lines_of_code value="17" level="0" />
<McCabes_cyclomatic_complexity value="6" level="0" />
<lines_of_comment value="12" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="0.500" level="0" />
</member_function>
<member_function>
<name>processBuiltInCommands(CommandItem *,vector *,bool)</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="30" />
</extent>
<extent>
<description>definition</description>
<source_reference file="../../src/base/module.cpp" line="23" />
</extent>
<lines_of_code value="16" level="0" />
<McCabes_cyclomatic_complexity value="7" level="0" />
<lines_of_comment value="2" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="3.500" level="0" />
</member_function>
<member_function>
<name>processCommands(CommandItem *,vector *,bool)</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="34" />
</extent>
<extent>
<description>definition</description>
<source_reference file="../../src/base/module.cpp" line="56" />
</extent>
<lines_of_code value="9" level="0" />
<McCabes_cyclomatic_complexity value="2" level="0" />
<lines_of_comment value="0" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="------" level="0" />
</member_function>
<member_function>
<name>processModuleCommands(CommandItem *,vector *,bool)</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="32" />
</extent>
<extent>
<description>definition</description>
<source_reference file="../../src/base/module.cpp" line="40" />
</extent>
<lines_of_code value="15" level="0" />
<McCabes_cyclomatic_complexity value="7" level="0" />
<lines_of_comment value="1" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="7.000" level="1" />
</member_function>
<member_function>
<name>setDataChanged()</name>
<extent>
<description>definition</description>
<source_reference file="../../include/base/module.hpp" line="54" />
</extent>
<lines_of_code value="1" level="0" />
<McCabes_cyclomatic_complexity value="0" level="0" />
<lines_of_comment value="0" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="------" level="0" />
</member_function>
<member_function>
<name>update()</name>
<extent>
<description>declaration</description>
<source_reference file="../../include/base/module.hpp" line="38" />
</extent>
<extent>
<description>definition</description>
<source_reference file="../../src/base/module.cpp" line="123" />
</extent>
<lines_of_code value="4" level="0" />
<McCabes_cyclomatic_complexity value="0" level="0" />
<lines_of_comment value="0" level="0" />
<lines_of_code_per_line_of_comment value="------" level="0" />
<McCabes_cyclomatic_complexity_per_line_of_comment value="------" level="0" />
</member_function>
</procedural_detail>
<structural_detail>
<module>
<name>Module</name>
<client_module>
<name>Solenoid</name>
<visible>true</visible>
<concrete>true</concrete>
<extent>
<description>inheritance</description>
<source_reference file="../../include/solenoid/solenoid.hpp" line="10" />
</extent>
</client_module>
<supplier_module>
<name>CommandItem</name>
<visible>true</visible>
<concrete>false</concrete>
<extent>
<description>pass by reference</description>
<source_reference file="../../include/base/module.hpp" line="30" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../include/base/module.hpp" line="32" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../include/base/module.hpp" line="34" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../src/base/module.cpp" line="23" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../src/base/module.cpp" line="40" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../src/base/module.cpp" line="56" />
</extent>
<name>ModuleCommand</name>
<visible>true</visible>
<concrete>true</concrete>
<extent>
<description>inheritance</description>
<source_reference file="../../include/base/module.hpp" line="7" />
</extent>
<name>String</name>
<visible>true</visible>
<concrete>true</concrete>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="36" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="36" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="44" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="44" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="67" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="67" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="91" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="91" />
</extent>
<name>bool</name>
<visible>false</visible>
<concrete>true</concrete>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="30" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="32" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="34" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="36" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="36" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="36" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="36" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="36" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="36" />
</extent>
<extent>
<description>has by value</description>
<source_reference file="../../include/base/module.hpp" line="46" />
</extent>
<extent>
<description>has by value</description>
<source_reference file="../../include/base/module.hpp" line="48" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="23" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="40" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="56" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="67" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="67" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="67" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="67" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="67" />
</extent>
<extent>
<description>pass by value</description>
<source_reference file="../../src/base/module.cpp" line="67" />
</extent>
<name>uint8_t</name>
<visible>false</visible>
<concrete>true</concrete>
<extent>
<description>pass by value</description>
<source_reference file="../../include/base/module.hpp" line="20" />
</extent>
<name>vector</name>
<visible>true</visible>
<concrete>false</concrete>
<extent>
<description>pass by reference</description>
<source_reference file="../../include/base/module.hpp" line="30" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../include/base/module.hpp" line="32" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../include/base/module.hpp" line="34" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../include/base/module.hpp" line="36" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../include/base/module.hpp" line="43" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../include/base/module.hpp" line="44" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../src/base/module.cpp" line="23" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../src/base/module.cpp" line="40" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../src/base/module.cpp" line="56" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../src/base/module.cpp" line="67" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../src/base/module.cpp" line="91" />
</extent>
<extent>
<description>pass by reference</description>
<source_reference file="../../src/base/module.cpp" line="140" />
</extent>
</supplier_module>
</module>
</structural_detail>
</CCCC_Project>
